<div 
    class="app_name"><h1>Tasks</h1>
</div>                                      

<div class="task-item">
    <table class="table_heads">
        <thead >
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        <% @tasks.each do |task| %>
            <tr>
                    <td><%= task.name %></td>
                    <td><%= task.description %></td>
                    <td><%= task.date %></td>
                    <td class="no_line"> 
                    <%= link_to 'Edit', edit_task_path(task.id) %>
                    <%= link_to 'Show', show_task_path(task.id) %>
                    <%= link_to 'Delete', delete_task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %>
                    </td>
            </tr>
        <% end %>
        </tbody>    
    </table>
</div>
 
<%= link_to "Create Task", new_task_path, class: "button" %>
